Flask
Flask_SQLAlchemy
Flask_Login
Flask_Bcrypt
requests
openai
python_dotenv
Flask_Caching
flask_mail
redis
Flask_Redis
psycopg2_binary
Flask_Limiter
pytz
stripe
Flask-Migrate
gunicorn
Flask_WTF
email_validator
pydantic