{% extends "layout.html" %}

{% block content %}
    <div class="content-wrapper">
        <hgroup>
            <h1>Analisador Esportivo</h1>
            <h2>Futebol</h2>
        </hgroup>

        {% if not current_user.is_authenticated %}
            <article class="cta-box">
                <p><b>Gostou?</b> <a href="{{ url_for('main.register') }}">Crie uma conta</a> ou <a href="{{ url_for('main.login') }}">faça login</a> para ver as análises detalhadas!</p>
            </article>
        {% elif current_user.subscription_tier == 'free' %}
            <article class="info-box">
                <p><b>Plano Gratuito:</b> Você já utilizou <strong>{{ views_today }} de 3</strong> análises detalhadas hoje. <a href="{{ url_for('main.plans') }}"><b>Faça um upgrade</b></a> para ter acesso ilimitado!</p>
            </article>
        {% endif %}

        <label for="date-picker">
            Selecione a data:
            <input type="date" id="date-picker">
        </label>
        
        <div id="resultados-container">
            </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        initializeAnalysisLoader("{{ url_for('main.api_analise') }}");
    });
</script>
{% endblock %}