{% extends "layout.html" %}

{% block content %}
    <h1>Faça Login</h1>
    <form method="POST" action="">
        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div style="margin-top: 1em;">
            <label>Senha</label>
            <input type="password" name="password" required>
        </div>
        <div style="margin-top: 1.5em;">
            <button type="submit">Login</button>
        </div>
    </form>

    <p><a href="{{ url_for('main.reset_request') }}">Esqueceu a senha?</a></p>

    <p style="margin-top: 2em;">
        <a href="{{ url_for('main.register') }}">Não tem uma conta? Registre-se</a>
    </p>
{% endblock %}